.movies-card-list {
  max-width: 1140px;
  width: 100%;
  margin: 0 70px;
  padding: 0;
  display: grid;
  grid-gap: 38px 20px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
@media screen and (max-width: 1024px) {
  .movies-card-list {
    margin: 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 18px), 1fr));
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    grid-template-columns: repeat(auto-fit, minmax(calc(49% - 18px), 1fr));
  }
}

@media screen and (max-width: 426px) {
  .movies-card-list {
    width: 100%;
    margin: 0 auto 48px;
    grid-template-columns: 100%;
  }
}
