.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 83px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.search-form__form {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 932px;
  width: 100%;
  margin-right: 41px;
}
.search-form__field {
  width: 100%;
  min-height: 48px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  box-sizing: border-box;
  padding: 7px 90px 7px 22px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  outline: none;
}
.search-form__submit {
  background: transparent;
  background-image: url(../../images/find.svg);
  width: 80px;
  padding: 7px;
  min-height: 34px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 7px;
}

@media screen and (max-width: 1024px) {
  .search-form {
    flex-direction: column;
  }
  .search-form__form {
    margin-right: 0;
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 426px) {
  .search-form__form {
    margin-bottom: 45px;
    padding-bottom: 44px;
  }
  .search-form__field {
    font-size: 11px;
  }
}
